/* ButtonComponent.css */
.buttonContainer {
    display: flex;
    justify-content: center; /* Adjust as needed: space-around, space-between, etc. */
    align-items: center;
    height: 10vh; /* Set a fixed height for the button container */
  }
  
.topButton {
    padding: 1vw 4vw; /* Adjust padding to increase button size */
    font-size: 3vw;  /* Adjust font size if needed */
    background-color: #0000FF; /* Set the background color to a specific color (e.g., blue) */
    color: #FFFF00; /* Set the text color to a contrasting color (e.g., white) */
    border: 0.5vw solid #000000; /* Remove the default border */
    cursor: pointer; /* Add a pointer cursor on hover for better user interaction */
    margin: 0;
  }

.largeButton {
    padding: 1vw 4vw; /* Adjust padding to increase button size */
    font-size: 1.5vw;  /* Adjust font size if needed */
    background-color: #0000FF; /* Set the background color to a specific color (e.g., blue) */
    color: #FFFF00; /* Set the text color to a contrasting color (e.g., white) */
    border: 0.25vw solid #000000; /* Remove the default border */
    cursor: pointer; /* Add a pointer cursor on hover for better user interaction */
    margin: 0;
}

.topButton.active,
.largeButton.active {
  color: #FFFF00; /* Set the active background color */
  background-color: #0000FF; /* Set the active text color */
}